@grid-gutter-width: 20px;

body
{
    background-color: #aec6cf;
    font-family: monospace;
}

body.disconnected
{
    overflow: hidden;
}

header
{
    background-color: #0099ff;
    width:100%;
    height:50px;
    z-index:10;
}

header h1
{
    float: left;
    padding: 5px;
}

h1
{
    margin: 0px;
}

h3
{
    margin: 0px;
    padding:5px;
}

#modal
{
    width: 100%;
    height:100%;
    background: rgb(25, 25, 25);
    background: rgba(25, 25, 25, 0.7);
    position:fixed;
    top: 50px;
    z-index: 9;
    display: none;
}

body.disconnected #modal
{
    display: block;
}

#connect
{
    float: right;
    height: 50px;
    width: 120px;
    text-align: center;
    padding: 14px 0;
    background-color: green;
}

#connect a
{
    cursor:pointer;
}

#connect .yes
{
    display: inherit;
}

#connect .no
{
    display: none;
}

body.disconnected #connect .yes
{
    display: none;
}

body.disconnected #connect .no
{
    display: inherit;
}

#connect a
{
    color: white;
}

#connect a:hover
{
    color: #ccc;
}

body.disconnected #connect
{
    background-color: red;
}

.right
{
    float: right;   
}

/*
 * Channel CSS
 */

.channel
{
    padding:20px;
}

.channel>div
{
    background-color: white;
    padding: 5px;
    margin: auto;
    width:90%;
    height: 90%;
}

.channel>div>div
{
    margin: 10px 0;
}

.channel>div>h3
{
    border-bottom: 1px solid #ddd;
}

.channel input[name="name"]
{
    width: 55%;   
}

.channel button
{
    margin: 5px;
}

.channel label.frequency
{
    float: right;
}

/*
 * Modal CSS
 */

.modal select
{
    width: 100%;
}


